$mid-size-txt: 75px;

// font
$font-heading: 'Noto Sans', sans-serif;


// colors
$light-bg: #d7d7d7;
$light-bg-2: #F8F9F9;
$nav-bg: #E74C3C;
$white-color: #fff;
$heading-color: #d65f5f;
$dark-color: #1C2833;
$footer-bg: #E0DFE0;
$media-min-mobile: 766px;
$white-color: #fff;
$footer-txt: #504e4e;

$media-max-mobile: '(max-width: 766px)';

// for RTL
$float-left: left;
$float-right: right;

$txt-right: right;
$txt-left: left;


// media query
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)"; 



